{% extends 'base.html' %}

{% block content %}

    <form class="login-or-register" hx-post="/login" hx-push-url="true" id="login-form" hx-target="body">
        <label for="login">Login:</label>
        <input type="text" id="login" name="login">
        <span class="error">{{ errors.get('login', '') }}</span>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <span class="error">{{ errors.get('password', '') }}</span>
        <br>
        <input type="submit" value="Login" />
    </form>
    
    {% include 'fragments/footer.html' %}
{% endblock %}
