{% extends 'base.html' %}

{% block content %}

    <form class="login-or-register" hx-post="{{ url_for('auth_blueprint.reset_password_post') }}"
        hx-push-url="true" id="login-form" hx-target="body">
        <h2>Hello {{ login }}, please update your password here</h2>

        <input type="hidden" id="login" name="login" value="{{ login }}">
        <input type="hidden" id="token" name="token" value="{{ token }}">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <span class="error">{{ errors.get('password', '') }}</span>

        <label for="password_repeat">Password (repeat):</label>
        <input type="password" id="password_repeat" name="password_repeat">
        <span class="error">{{ errors.get('password_repeat', '') }}</span>
        <br>
        <input type="submit" value="Update Password" />
    </form>

    {% include 'fragments/footer.html' %}
    {% include 'fragments/release.html' %}
{% endblock %}
