{% extends 'base.html' %}

{% block content %}
    
    <fieldset>
        <legend>Here's your run from {{days_ago}}. Nice work!</legend>
        <div class="table rows show-run-details">
            <p>
                <span>Date: </span> <span>{{ run.date }}</span>
            </p>
            <p> 
                <span>Run Start Time: </span>
                <span>
                    {% if run.run_start_time_formatted %} {{ run.run_start_time_formatted }} {% else %} N/A {% endif %}
                </span>
            </p>
            <p>
                <span>Distance: </span>
                <span>
                    {{ run.distance_mi }} mi
                </span>
            </p>
            <p>
                <span>Runtime Duration: </span>
                <span>
                    {{ run.runtime_s // 60}}m {{"{:02d}".format(run.runtime_s % 60)}}s
                </span>
            </p>
            <p>
                <span>Optional Notes:</span>
                <span>
                    {{ run.notes }}
                </span>
            </p>
        </div>
    </fieldset>

    <button hx-get="{{ url_for('runs_blueprint.edit_run_get', run_id= run.id) }}" hx-target="body" hx-push-url="true">Edit this run</button>
    <br>
    <br>
    <a hx-get="{{ url_for('runs_blueprint.get_runs') }}" hx-target="body" hx-push-url="true">Back</a>
{% endblock %}