h4, h5 {
    padding-left: 25px;
}

.error {
    padding-bottom: 5px;
}

.run-row {
    height: 50px;
}

.notes-cell {
    padding-bottom: 30px;
    text-align: center;
    border: 1px solid white;
}

.hidden {
    display: none;
}

.links-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

#notes-text-area {
    width: 330px;
}

#enter-notes-area {
    margin-left: 30px;
}

.form-input-div {
    display: flex;
    justify-content: space-between;
}

.form-input-fields {
    margin-right: 30px;
}

#new-run-form {
    width: 410px;
}

.run-date-cell {
    width: 110px;
}

.login-or-register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-or-register > div {
    text-align: center;
}

.delete-icon {
    height: 25px;
}

a {
    cursor: pointer;
}

a:hover {
    color: white; /* Changes text color on hover */
}

[data-overflow-menu] {
    visibility: hidden;
}

tr:is(:hover, :focus-within) [data-overflow-menu] {
    visibility: visible;
}

.show-edit-links {
    display: flex;
    justify-content: space-evenly;
}


.show-edit-links a {
    text-decoration: none; 
    padding: 0 5px;
}


tr th,
tr td {
    vertical-align: middle;
    text-align: center;
}

#show-run-details {
    text-align: center;
}