h4, h5 {
    padding-left: 25px;
}

html {
    background-color: cadetblue;
    font-weight: 500;
}

a {
    color: #041d31
}
header {
    margin-bottom: 10px;
}

.error {
    padding-bottom: 5px;
    background-color: rgb(168, 69, 84);
}


.alert {
    padding: 5px 15px;
    text-align: center;
    border-radius: 10px;
}

.alert-message {
    background-color: darkslategray;
}

.alert-error {
    background-color: rgb(78, 6, 34);
}


.run-row {
    height: 30px;
}

.notes-cell {
    padding-bottom: 30px;
    text-align: center;
    border: 1px solid white;
}

.hidden {
    display: none;
}

.links-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

#notes-text-area {
    width: 330px;
}

#enter-notes-area {
    margin-left: 30px;
}

.form-input-div {
    display: flex;
    justify-content: space-between;
}

.form-input-fields {
    margin-right: 30px;
}

#new-run-form {
    width: 410px;
}

.run-date-cell {
    width: 110px;
}

.login-or-register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-or-register > div {
    text-align: center;
}

.login-or-register > input {
    margin-bottom: 5px;
}

.delete-icon {
    height: 25px;
}

a {
    cursor: pointer;
    font-weight:500
}

input:not([type="submit"]) {
    background: ivory !important; 
    color: black;
}

a:hover {
    color: white; /* Changes text color on hover */
}

[data-overflow-menu] {
    visibility: hidden;
}

tr:is(:hover, :focus-within) [data-overflow-menu] {
    visibility: visible;
}

.show-edit-links {
    display: flex;
    justify-content: space-evenly;
}


.show-edit-links a {
    text-decoration: none; 
    padding: 0 5px;
}


tr th,
tr td {
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

th img {
    margin-bottom: 3px;
}

.show-run-details p {
    padding-top:5px;
}

.show-run-details span:first-child {
    white-space: nowrap;
}

#pagination-div {
    margin-top: 10px;
    text-align: center;
}

.disabled {
    pointer-events: none;
    color: #454343;
    text-decoration: none;
    cursor: not-allowed;
}

#run-count-div {
    margin-bottom: 5px;
    text-align: center;
}

#footer-div {
    margin-top: 50px;
    position: relative;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
}

#footer-div img {
    margin-bottom: 3px;
}

#footer-centered-span {
    flex: 1;
    text-align: center;
    display: inline-block;
}

#footer-right-span {
    white-space: nowrap;
    position: absolute;
    right: 0;
    padding-top: 10px;
}

.highlighted {
    background: linear-gradient(
        to left,
        rgba(75, 10, 35, 0) 0%,
        rgba(75, 10, 35, 1) 10%,
        rgba(75, 10, 35, 1) 90%,
        rgba(75, 10, 35, 0) 100%
    );
}

#password-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#github-logo {
    width: 40px;
}