html {
    background-color: #fffffb;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

h1 {
    padding-left: 5px;
}

h4, h5 {
    padding-left: 25px;
}

a {
    color: #041d31
}
header {
    margin-bottom: 10px;
}

.error {
    padding-bottom: 5px;
    background-color: rgb(188, 81, 97);
    color: white;
}


.alert {
    padding: 5px 15px;
    text-align: center;
    border-radius: 10px;
}

.alert a {
    color: rgb(120, 197, 248);
}

.alert a:hover {
    color: white;
}

.alert-message {
    background-color: #666968;
    color: white;
}

.alert-error {
    background-color: #9d2b27;
    color: white;
}

.notes-cell {
    padding-bottom: 30px;
    text-align: center;
    border: 1px solid white;
}

.hidden {
    display: none;
}

.links-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

#notes-text-area {
    width: 90%;
}

/* #activity-type {
    width: 100%;
} */

#run-start-time {
    width: 100%;
}

#enter-notes-area {
    display: flex;
    margin-left: 30px;
    padding-top: 15px;
}

#form-input-div-notes {
    display: flex;
}

.multi-input-field {
    display: flex;
}

#activity-type-label {
    white-space: nowrap;
}

.notes-container {
    width: 100%;
}


#new-run-form {
    width: 500px;
}

#new-run-form label {
    white-space: nowrap
}

.login-or-register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-or-register > div {
    text-align: center;
}

.login-or-register > input {
    margin-bottom: 5px;
}

.delete-icon {
    height: 25px;
}

a {
    cursor: pointer;
    font-weight:500
}

input:not([type="submit"]), select {
    background: rgb(247, 246, 246) !important; 
    color: black;
}

textarea {
    background: rgb(247, 246, 246) !important;
    color: black;
}

a:hover {
    color: rgb(120, 197, 248);
}

[data-overflow-menu] {
    visibility: hidden;
}

tr:is(:hover, :focus-within) [data-overflow-menu] {
    visibility: visible;
}


.show-run-details p {
    padding-top:5px;
}

.show-run-details span:first-child {
    white-space: nowrap;
}

#pagination-div {
    margin-top: 10px;
    text-align: center;
}

.disabled {
    pointer-events: none;
    color: #454343;
    text-decoration: none;
    cursor: not-allowed;
}

#activity-count-div {
    margin-bottom: 5px;
    text-align: center;
}

#label-table-pagination-div {
    flex-direction: column;
    display: flex;
    align-items: center;
}

#footer-div {
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
}

#footer-div img {
    margin-bottom: 3px;
}

#footer-centered-span {
    flex: 1;
    text-align: center;
    display: inline-block;
}

#footer-right-span {
    white-space: nowrap;
    position: absolute;
    right: 0;
    padding-top: 10px;
}

#password-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#github-logo {
    width: 40px;
}

.chevron {
    width: 20px;  
}

/*  For runs/rows.html styles */
.run-row:hover {
    background-color: #d1e7fd;
}

.run-row {
    height: 30px;
}

.highlighted {
    background: linear-gradient(
        to left,
        rgba(75, 10, 35, 0) 0%,
        rgb(155, 105, 124) 10%,
        rgba(155, 105, 124) 90%,
        rgba(75, 10, 35, 0) 100%
    );
}

.odd-row {
    background-color: rgb(233, 231, 231);
}


.show-edit-links {
    display: flex;
    justify-content: space-evenly;
}

.show-edit-links a {
    text-decoration: none; 
    padding: 0 5px;
}

tr th,
tr td {
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

th img {
    margin-bottom: 3px;
}

/*  For runs/new_run.html styles */
#mi-or-yd-label {
    padding-top: 5px;
}

.form-input-row {
    display: flex;
    width: 85%;
    justify-content: space-between;
}

.form-input-row-no-top-label {
    margin-top: 20px;
}

/*  For fragments/release.html styles */
#release-div {
    position: fixed;
    bottom: 10px; 
    left: 10px; 
    z-index: 1000; 
}

#release-div a {
    color: #000000;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
}

#release-div a:hover {
    text-decoration: underline;
}