<!DOCTYPE html>
<html>
<body>

<h2>Register</h2>

<div style="text-align: center;">
    <form action="/register" method="post">
        <label for="login">Login:</label><br>
        <input type="text" id="login" name="login"><br>
        <label for="pw">Password:</label><br>
        <input type="password" id="pw" name="pw"><br>
        <label for="pw2">Password (repeat):</label><br>
        <input type="password" id="pw2" name="pw2"><br><br>
        <br>
        Tell us a little more about yourself!
        <br><br>
        <label for="name">First Name:</label><br>
        <input type="text" id="name" name="name"><br><br>
        <label for="last">Last name (optional):</label><br>
        <input type="text" id="last" name="last"><br><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br><br>
        <input type="submit" value="Register">
    </form> 

</div>

</body>
</html>

