{% set logged_in = logged_in | default(False) %}
{% set errors = errors | default({}) %}

<!doctype html>
<html lang="">
<head>
    <title>Track My Run</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="https://the.missing.style/v0.2.0/missing.min.css">
    <script defer src="/static/js/htmx-1.9.12.min.js"></script>
</head>
<body hx-boost="true">
    <main>
        <header>
            <div style="display: inline;">
                <h1>
                    Track My Run 🏃🏃🏽‍♀️
                </h1>
                <h4>
                    &#x21B3;
                        A simple web application to manage all of your runs 
                </h4>

                {% if not logged_in %}
                    <div class="links-container">
                        <div class="left-links">
                            <a hx-get="{{ url_for('auth_blueprint.login') }}" hx-target="body" hx-push-url="true">Login</a>
                            |
                            <a hx-get="{{ url_for('auth_blueprint.register') }}" hx-target="body" hx-push-url="true">Register</a>
                        </div>
                    </div>
                {%else %}
                    <div class="links-container">
                        <div class="left-links">
                            <button hx-get="{{ url_for('runs_blueprint.get_runs') }}" hx-target="body" hx-push-url="true">Show my runs</button>&nbsp;
                            <button hx-get="{{ url_for('runs_blueprint.create_run') }}" hx-target="body" hx-push-url="true">Input new run</button>
                        </div>
                        <div class="'right-links">
                            <a hx-post="{{ url_for('auth_blueprint.logout') }}" hx-target="body" hx-push-url="true">Logout</a>
                        </div>
                    </div>
                {%endif %}
            </div>
        </header>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert-container">
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>
</body>
</html>