<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing</title>
</head>
<body>
    <script>
        function logout() {
            fetch('/logout', {
                method: 'POST'
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                window.location.href = '/login'; // Redirect to dashboard page
            })
            .catch(error => {
                console.error('Logout failed:', error);
                alert('Logout failed. Please try again.');
            });

        }

    </script>
    This page should only be seen once logged in
    <br>
    <a href="/login" onclick="logout()">Logout</a>
</body>
</html>