<!DOCTYPE html>
<html>
<body>

<h2>Login</h2>

<div style="text-align: center;">
    <label for="login">Login:</label><br>
    <input type="text" id="login" name="login"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <button type="submit" onclick="submitLoginForm()">Login</button>

    <script>
        function submitLoginForm() {
            var username = document.getElementById('login').value;
            var password = document.getElementById('password').value;
    
            // Prepare data to send in POST request
            var formData = {
                login: username,
                password: password
            };
    
            // Send POST request to server (assuming using fetch API)
            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error)
                    document.getElementById('login').value = ''
                    document.getElementById('password').value = ''
                } else {
                    // Assuming the response contains an access token
                    var accessToken = data.access_token;
        
                    // Store the access token in cookie
                    document.cookie = `accessToken=${accessToken};`
                    // Redirect to another page or perform other actions
                    window.location.href = '/landing_page'; // Redirect to dashboard page
                }
            })
            .catch(error => {
                console.log(error)
                console.error('Login failed:', error);
                alert(error);
            });
        }
    </script>

</div>

</body>
</html>

