{% extends 'base.html' %}

{% block content %}
    <div>
        <h2>Login</h2>
        <form hx-post="/login" hx-push-url="true" id="login-form" hx-target="body">
            <label for="login">Login:</label>
            <input type="text" id="login" name="login">
            <span class="error">{{ errors.get('login', '') }}</span>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <span class="error">{{ errors.get('password', '') }}</span>
            <br>
            <input type="submit" value="Login" />
        </form>
    </div>
    
{% endblock %}