<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Runs</title>
</head>
<body>
    <div id="runs-list" hx-get="/api/runs" hx-target="#runs-table tbody" hx-trigger="load" hx-swap="innerHTML" >
        <p id="hx-indicator">Loading...</p>
    </div>
    
    <table id="runs-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Time</th>
                <th>Distance</th>
                <th>Runtime (mins)</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>

    <a href="/login">Some link to login</a>

    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
</body>
</html>
